/*Block Ads*/
iframe[width="120"][height="600"], a img[width="120"][height="600"],
iframe[width="125"][height="600"], a img[width="125"][height="600"],
iframe[width="150"][height="100"], a img[width="150"][height="100"],
iframe[width="150"][height="600"], a img[width="150"][height="600"],
iframe[width="160"][height="600"], a img[width="160"][height="600"],
iframe[width="300"][height="250"], a img[width="300"][height="250"],
iframe[width="336"][height="280"], a img[width="336"][height="280"],
iframe[width="468"][height="60"], a img[width="468"][height="60"],
iframe[width="470"][height="62"], a img[width="470"][height="62"],
iframe[width="728"][height="90"], a img[width="728"][height="90"],
iframe[width="730"][height="92"], a img[width="730"][height="92"],
iframe[width="600"][height="120"], object[width="125"][height="300"],
iframe[width="180"][height="150"],
iframe[src*="/ad"],
iframe[src*=".ad"],
iframe[src*="/click"],
iframe[src*="promos"],
iframe[name="bsadframe"],
iframe[id="adFrame"],
iframe[id="splashFrame"],
img[src*="/ad-"],
img[src*="/ad."],
img[src*="/ad/"],
img[src*="/ad_"],
img[src*="/ads"],
img[src*="/adv"],
img[src*="/adx"],
img[src*="/click"],
img[src*="/toms_skyscraper_"],
img[src$="images/logos/amazon_international.gif"],
img[src*="freshmeat.net/button.gif"],
img[src*="pic.geocities.com/images/"],
img[src*="i.imdb.com/Vpics/"],
img[src*="i.imdb.com/Photos/CMSIcons"],
img[src*="i.imdb.com/Icons/apix/"],
img[src*="i.imdb.com/Icons/kpix/"],
img[src*="i.imdb.com/apix/"],
img[src*="sportsbybrooks.com/farkbutton.gif"],
img[alt*="advert"],
a:link[href*="/ad-"] img,
a:link[href*="/ad."] img,
a:link[href*="/ad/"] img,
a:link[href*="/ad_"] img,
a:link[href*="/ads"] img,
a:link[href*="/adv"] img,
a:link[href*="/adx"] img,
a:link[href*=".ad"] img,
a:link[href*="/banner"] img,
a:link[href*="/click.cgi"] img,
a:link[href*="/clickover"] img,
a:link[href*="/clickthr"] img,
a:link[href*="/click-"] img,
a:link[href*="/redirect/"] img,
a:link[href*="/A="] img,
table table [src*=".ad"],
table table table[width="346"][height="280"],
table[id="RefAd"],
table[cellspacing="0"][width="160"][height="329"][bgcolor="#000000"],
table[border="0"][cellpadding="3"][cellspacing="0"][height="40"][width="100%"],
table[border="0"][cellpadding="0"][cellspacing="4"][align="right"][width="20%"],
table[border="2"] td[valign="top"][bgcolor="#ffffff"] table[width="138"],
table[border="0"][cellpadding="1"][cellspacing="0"][width="626"][bgcolor="#6699cc"],
table[bordercolor="red"][height="225"][cellspacing="0"][cellpadding="0"][width="190"][bgcolor="white"][border="0"],
table[width="336"][border="0"][cellspacing="0"][cellpadding="0"][align="right"][style="margin-left:10px; margin-bottom: 10px;"], table[cellpadding="0"][cellspacing="0"][width="305"][border="0"],
td[style="border-bottom: 1px solid rgb(204, 204, 204); padding: 7px 3px; background-color: rgb(255, 254, 249);"],
form[name="frmLargeForm"],
form[action*="click_lx.cgi"],
form[action^="http://rd.yahoo.com/"],
form[action=""][name$="SoapCity"],
form[action=""][name^="728x90"],
form[action=""][name^="300x250"],
embed[type="application/x-shockwave-flash"][src*="/ad"],
embed[type="application/x-shockwave-flash"][href*="/ad"],
embed[type="application/x-shockwave-flash"][src*=".ad"],
embed[type="application/x-shockwave-flash"][href*=".ad"],
embed[type="application/x-shockwave-flash"][src*="/click"],
embed[type="application/x-shockwave-flash"][href*="/click"],
embed[type="application/x-shockwave-flash"][src*="promos"],
embed[type="application/x-shockwave-flash"][href*="promos"],
embed[type="application/x-shockwave-flash"][href*="redirect"],
embed[type="application/x-shockwave-flash"][href*="/A="],
embed[type="application/x-shockwave-flash"][name*="advert"],
embed[type="application/x-shockwave-flash"][name*="banner"],
embed[type="application/x-shockwave-flash"][width="728"][height="90"],
embed[type="application/x-shockwave-flash"][width="468"][height="60"],
div[id*="advert"],
/*div[id*="banner"],*/
div[id="dropin"],
div[id="dwindow"],
div[id="mntl"],
/*div[id*="popup"],*/
div[id="quack"],
div[id="splashLayer"],
div[id*="sponsor"],
div[style="border: 1px solid rgb(221, 221, 221); padding: 5px; background-color: rgb(255, 255, 255);"],
*[name*="klipad"],
*[style*="/ads/"],
*[src*="120x80"],
*[src*="140x"],
*[src*="?ad"],
*[src*="-ad-"],
*[src*="adimage"],
*[src*="adimg"],
*[src*="/affiliates/"],
*[src*="banners."],
*[src*="/images/dinkus/more-arrow-lo.gif"],
*[src*="/offer"],
*[src*="/puffboxes/"],
*[src*="/sponsors/"],
*[src*="_sponsor_"],
*[src*="/us.yimg.com/a/ya"],
*[src*=".adbutler.de"],
*[src*=".nedstatbasic.net"],
*[src*=".tradedoubler.com"],
*[src*=".travelocity./Sponsor_gifs/"],
*[src*="a.consumer.net"],
*[src*="bannermania.nom.pl"],
*[src*="cash4banner.com"],
*[src*="crazypopups.com"],
*[src*="hit-now.com"],
*[src*="hitbox.com"],
*[src*="img.thebugs.ws"],
*[src*="kinghost.com/ban/"],
*[src*="klipmart"],
*[src*="popupad.net/ats/"],
*[src*="public"][src*="ad"],
*[src*="/publicidad/"],
*[src*="qkimg.net"],
*[src*="qksrv.net"],
*[src*="rcm-images.amazon.com"],
*[src*="rcm.amazon.com"],
*[src*="salon.com/Creatives"],
*[src*="servedby.advertising.com"],
*[src*="sexcounter."],
*[src*="statse.webtrendslive.com"],
*[href*="click_"],
*[href*="logging.to"],
*[href*="/referral/"],
*[href*="tryaol"],
*[src*="advert"],
*[href*="advert"],
*[src*="banman.asp"],
*[href*="banman.asp"],
*[src*="bannerman"],
*[href*="bannerman"],
*[src*="?banner"],
*[href*="?banner"],
*[src*="/banner/"],
*[href*="/banner/"],
*[src*="/banners/"],
*[href*="/banners/"],
*[src*="=click"],
*[href*="=click"],
*[src*="?click"],
*[href*="?click"],
*[src*="/jump/"],
*[href*="/jump/"],
*[src*="adfarm"],
*[href*="adfarm"],
*[src*="ar.atwola.com"],
*[href*="ar.atwola.com"],
*[src*="atdmt.com"],
*[href*="atdmt.com"],
*[src*="bluestreak.com"],
*[href*="bluestreak.com"],
*[src*="doubleclick"],
*[href*="doubleclick"],
*[src*="mediaplex"],
*[href*="mediaplex"],
*[src*="spinbox."],
*[href*="spinbox."],
*[src*="transfer.go"],
*[href*="transfer.go"],
*[src*=".tribalfusion"],
*[href*=".tribalfusion"],
*[src*="valueclick"],
*[href*="valueclick"],
*[src*="http://216.92.21.16/"],
*[href*="http://216.92.21.16/"] {
   display: none !important;
}

img[src*="/click_"],
img[src*="/cnn/images/clickability/"],
img[src$="/banners/com000.jpg"],
a:link[href*="admin"] img,
a:link[href*=".adp"] img,
a:link[href*="click.mp3"] img,
a:link[href*="/imgres?imgurl="] img,
a:link[href*=":head"] img,
a:link[href*="http://nettracker."] img,
embed[type="application/x-shockwave-flash"][src*="gallery"] {
   display: inline !important;
}

/* Change cursor for links that open in new window */
:link[target="_blank"], :visited[target="_blank"], :link[target="_new"], :visited[target="_new"] {
   cursor: crosshair;
}

/* Change cursor for JavaScript links */
a[href^="javascript:"] {
   cursor: move;
}
